/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

:root
{
	--Brand1: #696969;
	--Brand2: #CDE0E7;
	--Black: #000000;
	--Dark: #45494c;
	--Medium: #b9bec1;
	--Light: #d0d3d5;
	--White: #ffffff;
}

.body-container
{
	padding-left: 2%;
	padding-top: 2%;
}

/* Backmatter */

div.GlossaryPageDefinition
{
	font-size: 10pt;
	font-family: 'Edo SZ';
	color: #696969;
}

div.GlossaryPageHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: left;
	background-repeat: repeat-x;
	background-image: url('../Images/Backmatter-Heading-Background.png');
	font-family: 'Edo SZ';
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #b9bec1;
}

div.GlossaryPageTerm
{
	font-size: 10pt;
	font-family: 'Edo SZ';
	font-weight: normal;
	font-style: normal;
	color: #696969;
}

MadCap|glossaryProxy
{
	border-top: none;
}

MadCap|indexProxy
{
	border-top: none;
}

p.Index1
{
	font-size: 10pt;
	font-weight: normal;
	font-family: Verdana;
}

p.Index2
{
	font-size: 10pt;
	font-weight: normal;
}

p.IndexHeading
{
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: left;
	background-repeat: repeat-x;
	background-image: url('../Images/Backmatter-Heading-Background.png');
	font-family: 'Edo SZ';
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #b9bec1;
}

/* Content */

img
{
	border: none;
	max-width: 100%;
}

p
{
	font-family: Verdana;
	font-size: 11pt;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 20pt;
	letter-spacing: 0.25;
	widows: 3;
	orphans: 3;
}

p.table-text
{
	font-size: 12pt;
}

p.image
{
	margin-bottom: 30px;
	margin-top: 30px;
}

p.tbody
{
	font-family: Verdana;
	font-size: 11pt;
}

p.tbodytime
{
	font-family: Verdana;
	font-size: 9pt;
}

p.tgrid
{
	vertical-align: middle;
	mc-float: frame-center;
	font-size: 20pt;
	text-transform: uppercase;
	font-family: Verdana;
	color: #808080;
}

p.thead
{
	font-size: 11pt;
}

p.kanji
{
	font-family: Verdana;
	float: left;
	font-weight: normal;
	font-style: italic;
	font-size: 22pt;
	color: #808080;
	margin-bottom: 30px;
}

p.desc1
{
	font-weight: normal;
	font-style: italic;
	border-bottom-color: #191970;
	font-size: 14pt;
	font-family: 'Verdana';
}

p.descEnd
{
	font-weight: normal;
	font-style: italic;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #191970;
	font-size: 14pt;
	font-family: 'Verdana';
}

p.HeadingTopic
{
	line-height: 13pt;
	margin: 8px;
	font-size: 28pt;
	text-transform: uppercase;
	font-family: 'Edo SZ';
	color: #696969;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

p.subhead
{
	font-size: 14pt;
	text-transform: uppercase;
	color: #a9a9a9;
	font-family: 'Edo SZ';
	text-align: left;
}

p.stepnote
{
	text-transform: uppercase;
	font-family: Verdana;
	color: #c0c0c0;
	font-size: 11pt;
}

/* Frontmatter */

hr.title-page
{
	border: solid 0px transparent;
	background-color: var(--Light);
	height: 1px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 370px;
}

MadCap|tocProxy
{
	border-top: none;
	margin-right: 0.25in;
}

p.created-using-flare
{
	color: var(--Dark);
	font-weight: bold;
	margin-top: 18px;
	font-size: 9pt;
	line-height: 15pt;
	text-transform: uppercase;
}

p.title
{
	font-size: 40pt;
	font-family: 'Edo SZ';
	color: #ffffff;
	line-height: 65pt;
	margin-top: 30px;
	mc-hyphenate: never;
}

span.title
{
	font-size: 55pt;
	font-family: 'Edo SZ';
	color: #ffffff;
	line-height: 65pt;
	margin-top: 30px;
	mc-hyphenate: never;
	text-transform: lowercase;
}

span.time
{
	font-size: 9pt;
	font-family: 'Edo SZ';
	color: #696969;
	mc-hyphenate: never;
}

p.title-page-footer
{
	color: var(--Dark);
	font-size: 9pt;
	frame-break-before: always;
	line-height: 15pt;
	margin-top: 30px;
}

p.title-page-url
{
	color: var(--Dark);
	font-size: 9pt;
	line-height: 15pt;
}

p.TOC1
{
	color: var(--Dark);
	font-size: 19pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 15px;
	margin-top: 15px;
	page-break-after: avoid;
}

p.TOC2
{
	color: var(--Dark);
	font-size: 15pt;
	font-weight: normal;
	line-height: 21pt;
	margin-bottom: 13px;
	margin-left: .5in;
	margin-top: 13px;
}

p.TOC3
{
	color: var(--Dark);
	font-size: 13pt;
	line-height: 21pt;
	font-weight: normal;
	margin-bottom: 10px;
	margin-left: 1in;
	margin-top: 10px;
}

/* Headings */

h1
{
	line-height: 27pt;
	margin-bottom: 20px;
	mc-heading-level: 1;
	mc-hyphenate: never;
	page-break-before: avoid;
	page-break-after: avoid;
	font-family: Verdana;
	text-transform: uppercase;
	color: #808080;
	mc-float: center;
	font-size: 28pt;
	font-weight: normal;
	font-style: normal;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	page-break-before: always;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

h1.title
{
	vertical-align: middle;
	mc-float: frame-center;
	font-size: 36pt;
	text-transform: uppercase;
	font-family: 'Edo SZ';
	color: #dcdcdc;
}

h1.backmatter
{
	line-height: 13pt;
	margin: 8px;
	font-size: 28pt;
	text-transform: uppercase;
	font-family: Verdana;
	color: #696969;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

h2.title
{
	vertical-align: middle;
	mc-float: frame-center;
	font-size: 30pt;
	text-transform: uppercase;
	font-family: 'Edo SZ';
	color: #808080;
}

/* Home page topic */

div.home-layout
{
	padding: 2% 5%;
}

div.home-section
{
	padding: 5% 0;
	border-bottom: solid 1px var(--Light);
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #808080;
	padding: 2%;
}

div.home-tiles > div:nth-child(1)
{
	width: 48%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 48%;
	margin-left: 4%;
}

div.home-tiles-layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles-layout::before
{
	content: ' ';
	display: table;
}

div.home-tiles-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles-layout > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.home-tiles-layout > div:nth-child(2)
{
	width: 66.66667%;
	margin-left: 0%;
}

div.home-tiles-layout p
{
	line-height: 1.2;
}

div.quick-links	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.quick-links::before
{
	content: ' ';
	display: table;
}

div.quick-links::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.quick-links > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.quick-links > div:nth-child(1)
{
	width: 16.66666%;
	margin-left: 2%;
}

div.quick-links > div:nth-child(2)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(3)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(4)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(5)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links *	/*Text-align center set to all elements within div.quick-links*/
{
	text-align: center;
}

div.topic-taiyaki
{
	padding: 10%;
	background-image: url('../Images/Taiyaki.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-gyu
{
	padding: 10%;
	background-image: url('../Images/gyudon.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-rice
{
	padding: 10%;
	background-image: url('../Images/rice.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-frice
{
	padding: 10%;
	background-image: url('../Images/Yakimeshi.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-vstock
{
	padding: 10%;
	background-image: url('../Images/Vegetable-Stock.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-dashi
{
	padding: 10%;
	background-image: url('../Images/Dashi.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-miso
{
	padding: 10%;
	background-image: url('../Images/Miso-soup.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-cstock
{
	padding: 10%;
	background-image: url('../Images/Cstock1.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-misoramen
{
	padding: 10%;
	background-image: url('../Images/Ramen.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-curry
{
	padding: 10%;
	background-image: url('../Images/Curry-Chicken.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-vcurry
{
	padding: 10%;
	background-image: url('../Images/Curry-Vegetable.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-donabe
{
	padding: 10%;
	background-image: url('../Images/Donabe2.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-tamagopan
{
	padding: 10%;
	background-image: url('../Images/tamagoyakipan.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-takopan
{
	padding: 10%;
	background-image: url('../Images/takoyakipan.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-ricecook
{
	padding: 10%;
	background-image: url('../Images/rice-cooker.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-tamago
{
	padding: 10%;
	background-image: url('../Images/tamagoyaki.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-yakimeshi
{
	padding: 10%;
	background-image: url('../Images/Yakimeshi.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-shokupan
{
	padding: 10%;
	background-image: url('../Images/Shokupan.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-noodles
{
	padding: 10%;
	background-image: url('../Images/Noodles.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-castella
{
	padding: 10%;
	background-image: url('../Images/Castella-Cake.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-okonimi
{
	padding: 10%;
	background-image: url('../Images/Okonomiyaki.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-tako
{
	padding: 10%;
	background-image: url('../Images/Takoyaki.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-regg
{
	padding: 10%;
	background-image: url('../Images/Ramen-eggs.jpg');
	background-size: cover;
	background-attachment: scroll;
}

div.topic-hero h1
{
	color: var(--White);
	font-size: 48pt;
	text-align: center;
}

html.home-topic	/*Used on home topic to override padding set in the skin*/
{
	
}

html.home-topic .body-container	/*Overrides padding set in the skin*/
{
	padding: 0;
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin when in tablet/mobile*/
{
	max-width: 100%;
	padding: 0;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: var(--Dark);
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
	border-bottom-color: transparent;
	height: auto;
	width: auto;
}

/* Links */

a
{
	color: #696969;
	font-family: 'Edo SZ';
}

a:link
{
	color: #696969;
	font-family: 'Edo SZ';
}

a:visited
{
	color: #696969;
	font-family: 'Edo SZ';
}

MadCap|dropDown
{
	border-bottom: 1px solid var(--Light);
	mc-image-position: left;
	mc-image-spacing: 10px;
	mc-open-image: url('../Images/Minus.png');
	mc-closed-image: url('../Images/Plus.png');
	padding: 10px 0;
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: var(--Dark);
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

MadCap|expandingBody
{
	color: var(--Dark);
	font-style: italic;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: var(--Brand1);
}

MadCap|xref.pdf
{
	font-family: Verdana;
	color: #696969;
	font-weight: bold;
	mc-format: 'See {paratext} on page {page}';
	text-decoration: underline;
}

MadCap|xref.html
{
	font-family: Verdana;
	color: #696969;
	font-weight: bold;
	mc-format: 'See {paratext}';
	text-decoration: underline;
}

MadCap|xref.pdfTOC
{
	font-family: 'Edo SZ';
	color: #696969;
	font-weight: bold;
	mc-format: '{paratext} on page {page}';
	text-decoration: underline;
}

MadCap|xref.htmlTOC
{
	font-family: 'Edo SZ';
	color: #696969;
	font-weight: bold;
	mc-format: '{paratext}';
	text-decoration: underline;
}

/* Lists */

dd,
dd p,
dt,
dt p,
li,
li p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: Verdana;
	font-size: 11pt;
}

dl,
ol,
ul
{
	letter-spacing: .25;
	line-height: 20pt;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 11pt;
}

/* Page layout */

p.frame-footer-page-number
{
	color: var(--Medium);
	font-size: 11pt;
	font-weight: bold;
	text-align: right;
}

p.frame-footer-text
{
	color: var(--Medium);
	font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
}

/* Master page */

div.home-footer
{
	color: #696969;
	font-family: 'Edo SZ';
	padding: 2% 5%;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: var(--White);
}

p.footer-sub
{
	color: var(--White);
	font-size: 14pt;
	margin-top: 14px;
}

MadCap|xref
{
	font-weight: normal;
	mc-format: 'see {quote}{para}{quote} {pageref}';
	text-decoration: none;
}

p.table-text
{
	font-size: 11pt;
}

p
{
	font-family: Verdana;
	font-size: 11pt;
	margin-bottom: 10px;
	margin-top: 10px;
}

body
{
	font-size: 11pt;
	line-height: 13pt;
	margin: 8px;
}

@media only screen and (max-width: 1279px)
{
	/* Home page topic */

	div.home-tiles > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.home-tiles-layout > div:nth-child(1)
	{
		width: 40%;
		margin-left: 30%;
	}

	div.home-tiles-layout > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 24%;
		margin-left: 0%;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 24%;
		margin-left: 19%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 24%;
		margin-left: 14%;
	}

	html.home-topic .body-container
	{
		margin-left: 0;
	}
}

@media only screen and (max-width: 767px)
{
	/* Home page topic */

	div.home-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-top: 5%;
	}

	div.home-tiles-layout p
	{
		line-height: 1.2;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 49%;
		margin-left: 25.5%;
	}
}

@media print
{
	body
	{
		font-size: 11pt;
		line-height: 13pt;
		margin: 8px;
	}

	/* Content */

	p
	{
		font-family: Verdana;
		font-size: 11pt;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	p.table-text
	{
		font-size: 11pt;
	}

	/* Links */

	MadCap|xref
	{
		font-weight: normal;
		mc-format: 'see {quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}

h1.HeadingTopic
{
	line-height: 13pt;
	margin: 8px;
	font-size: 28pt;
	text-transform: uppercase;
	font-family: 'Edo SZ';
	color: #696969;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

